## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.8909,-109.9124,87.10,61,20,5.75,few clouds
1,1,Celestun,MX,20.8667,-90.4000,76.41,87,53,6.69,broken clouds
2,2,Yellowknife,CA,62.4560,-114.3525,63.12,48,75,3.44,broken clouds
3,3,Jamestown,US,42.0970,-79.2353,67.59,77,0,5.75,clear sky
4,4,Forbes,AU,-33.3833,148.0167,55.35,83,98,10.71,light rain

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.8909,-109.9124,87.10,61,20,5.75,few clouds
1,1,Celestun,MX,20.8667,-90.4000,76.41,87,53,6.69,broken clouds
2,2,Yellowknife,CA,62.4560,-114.3525,63.12,48,75,3.44,broken clouds
3,3,Jamestown,US,42.0970,-79.2353,67.59,77,0,5.75,clear sky
7,7,Albany,US,42.6001,-73.9662,66.63,78,0,5.70,clear sky
8,8,Banda Aceh,ID,5.5577,95.3222,86.09,61,97,11.03,overcast clouds
12,12,Port Hardy,CA,50.6996,-127.4199,66.38,68,20,9.22,few clouds
16,16,Port Alfred,ZA,-33.5906,26.8910,62.29,89,100,18.92,overcast clouds
17,17,Puerto Carreno,CO,6.1890,-67.4859,76.05,89,94,4.25,overcast clouds
18,18,Atuona,PF,-9.8000,-139.0333,76.91,72,42,23.62,scattered clouds

In [5]:
#Determine if there are any empty rows
preferred_cities_df.count()

Unnamed: 0             510
City                   510
Country                510
Lat                    510
Lng                    510
Max Temp               510
Humidity               510
Cloudiness             510
Wind Speed             510
Current Description    510
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_df = preferred_cities_df.dropna()
new_df.count()

Unnamed: 0             510
City                   510
Country                510
Lat                    510
Lng                    510
Max Temp               510
Humidity               510
Cloudiness             510
Wind Speed             510
Current Description    510
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_df[["City", "Country","Lat", "Lng", "Max Temp","Humidity", "Cloudiness", "Wind Speed", "Current Description"]].copy()

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,Cabo San Lucas,MX,22.8909,-109.9124,87.10,61,20,5.75,few clouds,
1,Celestun,MX,20.8667,-90.4000,76.41,87,53,6.69,broken clouds,
2,Yellowknife,CA,62.4560,-114.3525,63.12,48,75,3.44,broken clouds,
3,Jamestown,US,42.0970,-79.2353,67.59,77,0,5.75,clear sky,
7,Albany,US,42.6001,-73.9662,66.63,78,0,5.70,clear sky,
8,Banda Aceh,ID,5.5577,95.3222,86.09,61,97,11.03,overcast clouds,
12,Port Hardy,CA,50.6996,-127.4199,66.38,68,20,9.22,few clouds,
16,Port Alfred,ZA,-33.5906,26.8910,62.29,89,100,18.92,overcast clouds,
17,Puerto Carreno,CO,6.1890,-67.4859,76.05,89,94,4.25,overcast clouds,
18,Atuona,PF,-9.8000,-139.0333,76.91,72,42,23.62,scattered clouds,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
#6c Get latitiude and longitude from dataframe

    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.count()

City                   510
Country                510
Lat                    510
Lng                    510
Max Temp               510
Humidity               510
Cloudiness             510
Wind Speed             510
Current Description    510
Hotel Name             447
dtype: int64

In [23]:
# 7. Drop the rows where there is no Hotel Name.
#new_df = hotel_df.dropna()
#new_df
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,Cabo San Lucas,MX,22.8909,-109.9124,87.10,61,20,5.75,few clouds,Hotel Tesoro Los Cabos
1,Celestun,MX,20.8667,-90.4000,76.41,87,53,6.69,broken clouds,Posada Lilia
2,Yellowknife,CA,62.4560,-114.3525,63.12,48,75,3.44,broken clouds,The Explorer Hotel
3,Jamestown,US,42.0970,-79.2353,67.59,77,0,5.75,clear sky,Hampton Inn & Suites Jamestown
7,Albany,US,42.6001,-73.9662,66.63,78,0,5.70,clear sky,NaN
...,...,...,...,...,...,...,...,...,...,...
701,Sorong,ID,-0.8833,131.2500,82.33,78,12,9.51,few clouds,Waigo Splash Hotel
702,Terrasini,IT,38.1460,13.0844,75.90,83,20,8.05,thunderstorm,Florio Park Hotel
703,San Cristobal,VE,7.7669,-72.2250,77.18,98,51,2.48,broken clouds,Pirineos
704,Wamba,NG,8.9333,8.6000,69.57,96,100,1.97,overcast clouds,Roma Zee Guest House Annex
705,Dwarka,IN,22.2394,68.9678,83.16,86,100,13.40,light rain,Hotel Narayan Avezika Comfort

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_clean_df = hotel_df.dropna()
hotel_clean_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,Cabo San Lucas,MX,22.8909,-109.9124,87.10,61,20,5.75,few clouds,Hotel Tesoro Los Cabos
1,Celestun,MX,20.8667,-90.4000,76.41,87,53,6.69,broken clouds,Posada Lilia
2,Yellowknife,CA,62.4560,-114.3525,63.12,48,75,3.44,broken clouds,The Explorer Hotel
3,Jamestown,US,42.0970,-79.2353,67.59,77,0,5.75,clear sky,Hampton Inn & Suites Jamestown
8,Banda Aceh,ID,5.5577,95.3222,86.09,61,97,11.03,overcast clouds,OYO 884 Rumoh PMI Hotel
...,...,...,...,...,...,...,...,...,...,...
701,Sorong,ID,-0.8833,131.2500,82.33,78,12,9.51,few clouds,Waigo Splash Hotel
702,Terrasini,IT,38.1460,13.0844,75.90,83,20,8.05,thunderstorm,Florio Park Hotel
703,San Cristobal,VE,7.7669,-72.2250,77.18,98,51,2.48,broken clouds,Pirineos
704,Wamba,NG,8.9333,8.6000,69.57,96,100,1.97,overcast clouds,Roma Zee Guest House Annex
705,Dwarka,IN,22.2394,68.9678,83.16,86,100,13.40,light rain,Hotel Narayan Avezika Comfort

In [25]:
# 8a. Create the output File (CSV)
output = "Weather_DataBase/Weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_clean_df.to_csv(output, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_clean_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))